<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PartialAssociationRules.Domain.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <!--<section name="PartialAssociationRules.PresentationLogic.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>-->
    </sectionGroup>
  </configSections>
  <userSettings>
    <PartialAssociationRules.Domain.ApplicationSettings>
      <setting name="ObjectsQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AttributesQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Alpha" serializeAs="String">
        <value>0.20</value>
      </setting>
      <setting name="Gamma" serializeAs="String">
        <value>0.20</value>
      </setting>
      <setting name="Support" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Confidence" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="DefaultAlgorithm" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TrimDataSet" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultGenerator" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultFilesCatalog" serializeAs="String">
        <value>DataSets</value>
      </setting>
      <setting name="MinimalWeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaximalWeight" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="DefaultReport" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InsertInfSysInReport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultRegexIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RegexForNamesHeader" serializeAs="String">
        <value>(^[\t ]+\d+\.\s+)(?&lt;data&gt;[^\s:]+);;;(^[\t ]+\s+)(?&lt;data&gt;[^\s:]+)</value>
      </setting>
      <setting name="PercentageOfSeparatedRows" serializeAs="String">
        <value>False</value>
      </setting>
    </PartialAssociationRules.Domain.ApplicationSettings>
    <!--<PartialAssociationRules.PresentationLogic.ApplicationSettings>
            <setting name="ObjectsQuantity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AttributesQuantity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Alpha" serializeAs="String">
                <value>0.20</value>
            </setting>
            <setting name="Gamma" serializeAs="String">
                <value>0.20</value>
            </setting>
            <setting name="Support" serializeAs="String">
                <value>0.20</value>
            </setting>
            <setting name="Confidence" serializeAs="String">
                <value>0.50</value>
            </setting>
            <setting name="DefaultAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrimDataSet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultGenerator" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultFilesCatalog" serializeAs="String">
                <value>DataSets</value>
            </setting>
            <setting name="MinimalWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximalWeight" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="DefaultReport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InsertInfSysInReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegexForNamesHeader" serializeAs="String">
                <value>(^[\t ]+\d+\.\s+)([^\s:]+)|(^[\t ]+\s+)([^\s:]+)</value>
            </setting>
            <setting name="DefaultRegex" serializeAs="String">
                <value>0</value>
            </setting>
        </PartialAssociationRules.PresentationLogic.ApplicationSettings>-->
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
