<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PartialAssociationRules.PresentationLogic.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="PartialAssociationRules.PresentationLogic.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <PartialAssociationRules.PresentationLogic.ApplicationSettings>
      <setting name="AttributesQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ObjectsQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Alpha" serializeAs="String">
        <value>0.20</value>
      </setting>
      <setting name="Gamma" serializeAs="String">
        <value>0.20</value>
      </setting>
      <setting name="Support" serializeAs="String">
        <value>0.50</value>
      </setting>
      <setting name="Confidence" serializeAs="String">
        <value>0.50</value>
      </setting>
      <setting name="DefaultAlgorithm" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumericGeneratorMin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumericGeneratorMax" serializeAs="String">
        <value>9</value>
      </setting>
    </PartialAssociationRules.PresentationLogic.ApplicationSettings>
    <PartialAssociationRules.PresentationLogic.Settings1>
      <setting name="AttributesQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ObjectsQuantity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Alpha" serializeAs="String">
        <value>0.20</value>
      </setting>
      <setting name="Gamma" serializeAs="String">
        <value>0.20</value>
      </setting>
      <setting name="Support" serializeAs="String">
        <value>0.50</value>
      </setting>
      <setting name="Confidence" serializeAs="String">
        <value>0.50</value>
      </setting>
    </PartialAssociationRules.PresentationLogic.Settings1>
  </applicationSettings>
</configuration>
